
.img-icon{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.title{
    width: 190px;
}
.nav-barnd{
    margin: 0px;
}
.cur-img{
    width: 1400px;
    height: 540px; 
    object-fit: cover;
}
.add-bgcolor{
    background-color: rgb(232, 164, 74);
    transition: 0.25;
}
.add-bgcolor:hover{
    background-color: rgb(214, 146, 57);
}
.products-img{
    height: 105px ;
    object-fit: cover;
}
.us-bg{
    background-color: rgb(255, 246, 237);
}
.btn-color{
    background-color: rgb(244, 122, 70);
}
.btn-color:hover{
    background-color: rgb(249, 147, 103);
    color: black;
}
.last-icon{
    height: 65px;
    width: 65px;
    object-fit: cover;
}
.copyright{
    font-size: 13px;
}
